<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quora</title>
</head>
<body>
    <h1>quora</h1>

    <p>
  <%  for(pos of post){  %>
        <div>
            <h3>@<%= pos.username %> </h3>
            <h3><%= pos.para  %></h3>
        </div>

   <%  }   %>
    </p>
</body>
</html>